<swiper-container
    className="mySwiper  mt-[90px] z-40 h-[50px] bg-white fixed top-0 w-full block"
    scrollbar-hide="true"
    space-between="0"
    centered-slides="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
>
    <swiper-slide
        ><div
            class="text-center z-40  w-full text-black flex justify-center items-center h-full"
        >
            <span
                >Envios Desde La Sucursal <b>A tu Casa en San Miguel Del Monte</b></span
            >
        </div>
    </swiper-slide>
    <swiper-slide
        ><div
            class="text-center z-40  w-full text-black flex justify-center items-center h-full"
        >
            <span
                >Para ver informacion de los <a
                    href="/productos"
                    class="text-eat-700 underline hover:cursor-pointer"
                    ><b>Productos Hace Click</b></a
                ></span
            >
        </div>
    </swiper-slide>
    <swiper-slide
        ><div
            class="text-center z-40  w-full text-black flex justify-center items-center h-full"
        >
            <span
                >Podes Contactarnos/Buscarnos en nuestras <a
                    href="#redes"
                    class="text-eat-700 underline hover:cursor-pointer"
                    ><b>Redes Sociales</b></a
                ></span
            >
        </div>
    </swiper-slide>
</swiper-container>
<script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
