<swiper-container
    className="mySwiper py-4 w-[380px] md:max-w-[500px] lg:min-w-[1000px] z-40 h-[350px]  block"
    scrollbar-hide="true"
    space-between="0"
    centered-slides="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
>
    <swiper-slide>
        <div
            class="flex items-center justify-center w-[400px] md:min-w-[500px] lg:min-w-[1000px]"
        >
            <img src="/bidon.jpeg" class="z-50 flex " />
            <img src="/bidooon.jpeg"  class="z-50 hidden md:block" />
        </div>
    </swiper-slide>
    <swiper-slide>
        <div
            class="flex items-center justify-center w-[400px] md:min-w-[500px] lg:min-w-[1000px]"
        >
            <img src="/beneficios.avif" class="z-50" alt="" />
        </div>
    </swiper-slide>
        <swiper-slide>
        <div
            class="flex items-center justify-center w-[400px] md:min-w-[500px] lg:min-w-[1000px]"
        >
            <img src="/precios.png" class="z-50 max-h-400px" alt="" />
        </div>
    </swiper-slide>
</swiper-container>
<script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
